.jumbotron.welcome
	.container-fluid
		.banner
			h1 Checkbook
			p Knowing your money has never been so easy.
			a.btn.btn-primary(ng-href="/#/login") Log in to your account
			br
			span Don't have an account yet? 
				a(ng-href="/#/register") Sign up now
		
.container-fluid.welcome-tiles
	.row
		.col-md-4
			div: img(src="/img/coin.jpg")
			h1 Spend
			| Spend your money &ndash; but spend it smart. Checkbook offers you an easy and intuitive way of keeping track of your finances.
			
		.col-md-4
			img(src="/img/analysis.jpg")
			h1 Know
			| Know where your money went. Leverage the powerful analysis tools to identify unnecessary fund drainers at a glance. And then eliminate them.  
		
		.col-md-4
			img(src="/img/airplane.jpg")
			h1 Enjoy
			| Make the most of that hard earned cash, and spend it on the things that are important in life. Knowing you can afford it.  